.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 6.25rem;
    gap: 4px;
}

.box-info {
    margin: 10px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    width: 70vw;
}